
@{
    ViewBag.Title = "Index";
}

@section body{
@if (!User.Identity.IsAuthenticated)
{
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Giriş/Kayıt Ol</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    <!--================Login Box Area =================-->
    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login_box_img">
                        <img class="img-fluid" src="/Content/img/login.jpg" alt="">
                        <div class="hover">
                            <h4>Sitemizde yeni misin?</h4>
                            <a class="primary-btn" href="/User/CreateUserAccount">Yeni Hesap Oluştur</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login_form_inner">
                        <h3>Giriş Yap</h3>
                        <form class="row login_form" action="/User/LoginToSystem" method="post" novalidate="novalidate">
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="inputUsername" name="UserName" placeholder="Kullanıcı Adı" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="password" class="form-control" id="inputPassword" name="Password" placeholder="Parola" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="creat_account">
                                    <input type="checkbox" id="f-option2" name="selector">
                                    <label for="f-option2">Beni Hatırla</label>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="primary-btn">Giriş</button>
                                <a href="/User/ResetPassword" id="inputResetPassword">Parolamı Unuttum</a>
                            </div>
                        </form>
                        <br />
                        @if (ViewBag.validateMessage != null)
                        {
                            <p style="color:red; text-align:center">@ViewBag.validateMessage</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--================End Login Box Area =================-->
}
}

