
@{
    ViewBag.Title = "UserCart";
}
@using proje_eticaret.App_Classes
@*@model List<MyCart>*@

@section body{
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Alışveriş Sepeti</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/Home/Index">AnaSayfa<span class="lnr lnr-arrow-right"></span></a>
                        <a href="#">Sepetim</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Ürün</th>
                                <th scope="col">Fiyat</th>
                                <th scope="col">Sepetten Çıkar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{decimal toplam = 0;

                                foreach (MyCart mc in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="media">
                                                @*<div class="d-flex">
                                <img src="/Content/img/cart.jpg" alt="">
                            </div>*@
                                                <div class="media-body">
                                                    <p>@mc.ProductName</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5>@mc.Price TL</h5>
                                            <h5 class="hidden"> @{toplam = toplam + mc.Price;}</h5>

                              </td>

                              <td>

                                  <a href="#/" class="genric-btn danger circle sepettenCikar"data-name="@mc.ProductName">Çıkar</a>
                                        </td>
                                    </tr>

                                                }

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <h5>Toplam Tutar</h5>
                                    </td>
                                    <td>
                                        <h5>@toplam</h5>
                                    </td>
                                </tr>
                            }
                            <tr class="out_button_area">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a class="gray_btn" href="/Home/Index">Alışverişe Devam Et</a>
                                        <a class="primary-btn siparisOnay" href="#/">Siparişi Onayla</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->

}
@section scripts{
    <script>
        $(".sepettenCikar").click(function () {
            var pname = $(this).attr("data-name");
            $.ajax({
                type: "POST",
                url: "/User/UserCart?pName=" + pname,
                success: function () {
                    window.location.replace("/User/UserCart");
                },
                error: function () {

                }
            });
        });

        $(".siparisOnay").click(function () {
            $.ajax({
                type: "POST",
                url: "/User/OrderConfirm",
                success: function (cevap) {
                    alert(cevap)
                },
                error: function (cevap) {
                    alert(cevap)
                }
            });
        });
    </script>
    }
